.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 70px;
	margin-top: 30px;
}

.menu {
	display: flex;
	align-items: center;
	gap: 50px;
}

.menu__item {
	display: flex;
	gap: 5px;
	align-items: center;
	font-size: 18px;
	line-height: 20px;
	transition: all 0.2s;
}
.menu__item:visited {
	color: var(--black);
}
.menu__item:hover {
	color: var(--main);
}
.menu__counter {
	font-size: 12px;
	line-height: 28px;
	border: 1px solid var(--black);
	border-radius: 50%;
	padding: 0 10px;
}
