:root {
	/** Color */
	--main: #e3a061;
	--main-dark: #d58031;
	--black: #212121;
	--white: #fafafa;
	--light: #dedede;
}
html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
body {
	font-family: 'Open Sans', sans-serif;
	color: var(--black);
	font-weight: 600;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}
input {
	outline: none;
}
button {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	cursor: pointer;
}

#root {
	max-width: 1300px;
	margin: 0 auto;
}

h1.title {
	font-weight: 600;
	font-size: 25px;
	color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
}
